@import url('http://fonts.cdnfonts.com/css/bebas-neue');
body {
  margin: 0;
  font-family: 'Bebas Neue';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 100;
}
